<app-gallery></app-gallery>
<!-- <button (click)="onShowNotificationsBtnClick()" class="btn btn-dark">
    {{showNotification ? 'disable notification':'shownotification'}}</button>

<div *ngIf="showNotification;else elseBlock" class="card col-md-3">
    <img [ngStyle]="{
        'max-height':'250px',
        'object-fit':'contains'
    }" src="https://images2.alphacoders.com/985/thumb-1920-985381.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Join Github</h5>
    </div>
</div>
<ng-template #elseBlock>
    <p *ngIf="!showNotification">notifications are disabled</p>
</ng-template> -->